<template lang="pug">
nav.navigation
  ElForm(
    :inline="true"
    :model="form"
  )
    ElFormItem.form-item
      ElInput(
        v-model="form.search"
        prefix-icon="el-icon-search"
        placeholder="All parks"
      )

    ElFormItem.form-item
      ElDatePicker(
        v-model="form.dateRange"
        type="daterange"
        start-placeholder="Start date"
        end-placeholder="End date"
        placeholder="Select a visit date"
        @change="$emit('onDateRangeChange', form.dateRange)"
      )

    //- ElFormItem.form-item
      ElPopover(
        placement="bottom"
        width="400"
        trigger="click"
      )
        ElTimePicker(
          slot="reference"
          v-model="timeRange"
          start-placeholder="Start time"
          end-placeholder="End time"
          readonly
          is-range
          format="HH:mm"
        )

        ChartBar(
          ref="chart"
          :chartData="chart.data"
          :options="chart.options"
        )

        ElSlider.time-slider(
          v-model="form.timeHourRange"
          range
          show-stops
          :min="0"
          :max="24"
        )

    ElFormItem.form-item
      ElButton(
        type="primary"
        round
        @click="search"
      ) Search
</template>

<script>
import { mapActions } from 'vuex';

import ChartBar from '@/components/ChartBar.vue';


export default {
  components: {
    ChartBar,
  },

  data() {
    return {
      // chart: {
      //   data: {
      //     labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
      //     datasets: [
      //       {
      //         barPercentage: 1,
      //         categoryPercentage: 0.9,
      //         backgroundColor: [],
      //         data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
      //       },
      //     ],
      //   },
      //   options: {
      //     animation: {
      //       duration: 0,
      //     },
      //     events: false,
      //     legend: {
      //       display: false,
      //     },
      //     tooltips: {
      //       enabled: false,
      //     },
      //     scales: {
      //       xAxes: [{
      //         display: false,
      //       }],
      //       yAxes: [{
      //         display: false,
      //       }],
      //     },
      //   },
      // },

      form: {
        search: '',
        dateRange: [new Date(), new Date()],
        // timeHourRange: [10, 18],
      },
    };
  },

  // computed: {
  //   timeRange() {
  //     return [
  //       new Date(0, 0, 0, this.form.timeHourRange[0]),
  //       new Date(0, 0, 0, this.form.timeHourRange[1]),
  //     ];
  //   },
  // },

  // watch: {
  //   // eslint-disable-next-line object-shorthand
  //   'form.timeHourRange'(curr) {
  //     this.$set(
  //       this.chart.data.datasets[0],
  //       'backgroundColor',
  //       Array.from(
  //         { length: 24 },
  //         (_, i) => (i >= curr[0] && i <= curr[1] - 1 ? '#409EFF' : '#E4E7ED'),
  //       ),
  //     );
  //     this.$refs.chart.updateChart();
  //   },
  // },

  methods: {
    ...mapActions([
      'SearchParkList',
    ]),

    search() {
      this.SearchParkList({
        searchText: this.form.search,
        dateStart: this.form.dateRange[0],
        dateEnd: this.form.dateRange[1],
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.navigation
  display flex
  justify-content center
  padding 1rem 8rem

  .form-item
    margin-bottom 0

  .time-slider
    margin-top -1rem
</style>
