<template lang="html">
<svg v-if="load === 'low'" :class="load" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 304 277">
  <g>
    <path class="st0" d="M141.16,181.72l-37.95-65.73c-0.84-1.45-1.93-2.65-3.15-3.67c-5.1-5.97-12.58-9.86-21-9.86H64.7
      c-8.05,0-15.26,3.53-20.34,9.06c-1.66,1.14-3.12,2.61-4.19,4.46L2.23,181.72c-3.84,6.65-1.54,15.23,5.11,19.07
      c6.65,3.84,15.23,1.54,19.07-5.11l10.56-18.3v29.8v6.98v48.87c0,7.68,6.28,13.96,13.96,13.96s13.96-6.28,13.96-13.96v-48.87h13.96
      v48.87c0,7.68,6.28,13.96,13.96,13.96s13.96-6.28,13.96-13.96v-48.87v-6.98v-29.14l10.18,17.63c3.84,6.65,12.42,8.95,19.07,5.11
      C142.7,196.95,145,188.37,141.16,181.72z"/>
    <circle class="st0" cx="71.89" cy="67.56" r="27.93"/>
  </g>
  <g>
    <path class="st0" d="M280.68,165.92L236.44,89.3c-0.98-1.69-2.25-3.09-3.67-4.28c-5.94-6.96-14.66-11.49-24.48-11.49h-16.74
      c-9.39,0-17.79,4.12-23.71,10.56c-1.93,1.33-3.63,3.05-4.88,5.2l-44.24,76.62c-4.48,7.75-1.8,17.76,5.96,22.24
      c7.75,4.48,11.85,15.6,16.32,7.84l18.23-35.13v34.74v8.14v56.97c0,8.95,7.33,16.28,16.28,16.28s16.28-7.33,16.28-16.28v-56.97
      h16.28v56.97c0,8.95,7.33,16.28,16.28,16.28s16.28-7.33,16.28-16.28v-56.97v-8.14v-33.97l11.87,20.56
      c4.48,7.75,14.48,10.43,22.24,5.96C282.47,183.68,285.15,173.67,280.68,165.92z"/>
    <circle class="st0" cx="199.92" cy="32.84" r="32.55"/>
  </g>
</svg>

<svg v-else-if="load === 'medium'" :class="load" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 401 277">
  <g>
    <path class="st0" d="M238.16,181.72l-37.95-65.73c-0.84-1.45-1.93-2.65-3.15-3.67c-5.1-5.97-12.58-9.86-21-9.86H161.7
      c-8.05,0-15.26,3.53-20.34,9.06c-1.66,1.14-3.12,2.61-4.19,4.46l-37.95,65.73c-3.84,6.65-1.54,15.23,5.11,19.07
      c6.65,3.84,7.82,15.86,11.66,9.21l17.98-32.61v29.8v6.98v48.87c0,7.68,6.28,13.96,13.96,13.96c7.68,0,13.96-6.28,13.96-13.96
      v-48.87h13.96v48.87c0,7.68,6.28,13.96,13.96,13.96c7.68,0,13.96-6.28,13.96-13.96v-48.87v-6.98v-29.14l10.18,17.63
      c3.84,6.65,12.42,8.95,19.07,5.11C239.7,196.95,242,188.37,238.16,181.72z"/>
    <circle class="st0" cx="168.89" cy="67.56" r="27.93"/>
  </g>
  <g>
    <path class="st0" d="M116.18,198.16l-31.4-54.38c-0.69-1.2-1.6-2.19-2.6-3.03c-4.22-4.94-10.41-8.16-17.37-8.16H52.92
      c-6.66,0-12.63,2.92-16.83,7.5c-1.37,0.94-2.58,2.16-3.46,3.69l-31.4,54.38c-3.18,5.5-1.27,12.6,4.23,15.78
      c5.5,3.18,12.6,1.27,15.78-4.23l8.74-15.14v24.66v5.78v40.43c0,6.35,5.2,11.55,11.55,11.55s11.55-5.2,11.55-11.55v-40.43h11.55
      v40.43c0,6.35,5.2,11.55,11.55,11.55s11.55-5.2,11.55-11.55v-40.43v-5.78v-24.11l8.42,14.59c3.18,5.5,10.28,7.41,15.78,4.23
      C117.45,210.77,119.35,203.67,116.18,198.16z"/>
    <circle class="st0" cx="58.86" cy="103.71" r="23.11"/>
  </g>
  <g>
    <path class="st0" d="M377.68,165.92L333.44,89.3c-0.98-1.69-2.25-3.09-3.67-4.28c-5.94-6.96-14.66-11.49-24.48-11.49h-16.74
      c-9.39,0-17.79,4.12-23.71,10.56c-1.93,1.33-3.63,3.05-4.88,5.2l-44.24,76.62c-4.48,7.75-1.8,17.76,5.96,22.24
      c7.75,4.48,12.85,13.6,17.32,5.84l17.23-33.13v34.74v8.14v56.97c0,8.95,7.33,16.28,16.28,16.28s16.28-7.33,16.28-16.28v-56.97
      h16.28v56.97c0,8.95,7.33,16.28,16.28,16.28s16.28-7.33,16.28-16.28v-56.97v-8.14v-33.97l11.87,20.56
      c4.48,7.75,14.48,10.43,22.24,5.96C379.47,183.68,382.15,173.67,377.68,165.92z"/>
    <circle class="st0" cx="296.92" cy="32.84" r="32.55"/>
  </g>
</svg>

<svg v-else-if="load === 'high'" :class="load" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 461 277">
  <g>
    <path class="st0" d="M319.16,181.72l-37.95-65.73c-0.84-1.45-1.93-2.65-3.15-3.67c-5.1-5.97-12.58-9.86-21-9.86H242.7
      c-8.05,0-15.26,3.53-20.34,9.06c-1.66,1.14-3.12,2.61-4.19,4.46l-37.95,65.73c-3.84,6.65-1.54,15.23,5.11,19.07
      c6.65,3.84,7.82,15.86,11.66,9.21l17.98-32.61v29.8v6.98v48.87c0,7.68,6.28,13.96,13.96,13.96c7.68,0,13.96-6.28,13.96-13.96
      v-48.87h13.96v48.87c0,7.68,6.28,13.96,13.96,13.96c7.68,0,13.96-6.28,13.96-13.96v-48.87v-6.98v-29.14l10.18,17.63
      c3.84,6.65,12.42,8.95,19.07,5.11C320.7,196.95,323,188.37,319.16,181.72z"/>
    <circle class="st0" cx="249.89" cy="67.56" r="27.93"/>
  </g>
  <g>
    <path class="st0" d="M197.18,198.16l-31.4-54.38c-0.69-1.2-1.6-2.19-2.6-3.03c-4.22-4.94-10.41-8.16-17.37-8.16h-11.88
      c-6.66,0-12.63,2.92-16.83,7.5c-1.37,0.94-2.58,2.16-3.46,3.69l-31.4,54.38c-3.18,5.5-1.27,12.6,4.23,15.78
      c5.5,3.18,7.36,11.56,10.54,6.05l13.98-25.42v24.66v5.78v40.43c0,6.35,5.2,11.55,11.55,11.55c6.35,0,11.55-5.2,11.55-11.55v-40.43
      h11.55v40.43c0,6.35,5.2,11.55,11.55,11.55c6.35,0,11.55-5.2,11.55-11.55v-40.43v-5.78v-24.11l8.42,14.59
      c3.18,5.5,10.28,7.41,15.78,4.23C198.45,210.77,200.35,203.67,197.18,198.16z"/>
    <circle class="st0" cx="139.86" cy="103.71" r="23.11"/>
  </g>
  <g>
    <path class="st0" d="M95.98,212.26L70.2,167.61c-0.57-0.98-1.31-1.8-2.14-2.49c-3.46-4.06-8.54-6.7-14.27-6.7h-9.76
      c-5.47,0-10.37,2.4-13.82,6.16c-1.13,0.77-2.12,1.77-2.84,3.03L1.59,212.26c-2.61,4.52-1.05,10.35,3.47,12.96
      c4.52,2.61,10.35,1.05,12.96-3.47l7.18-12.43v20.25v4.74v33.2c0,5.22,4.27,9.49,9.49,9.49s9.49-4.27,9.49-9.49v-33.2h9.49v33.2
      c0,5.22,4.27,9.49,9.49,9.49s9.49-4.27,9.49-9.49v-33.2v-4.74v-19.8l6.92,11.98c2.61,4.52,8.44,6.08,12.96,3.47
      C97.03,222.61,98.59,216.78,95.98,212.26z"/>
    <circle class="st0" cx="48.92" cy="134.7" r="18.97"/>
  </g>
  <g>
    <path class="st0" d="M458.68,165.92L414.44,89.3c-0.98-1.69-2.25-3.09-3.67-4.28c-5.94-6.96-14.66-11.49-24.48-11.49h-16.74
      c-9.39,0-17.79,4.12-23.71,10.56c-1.93,1.33-3.63,3.05-4.88,5.2l-44.24,76.62c-4.48,7.75-1.8,17.76,5.96,22.24
      c7.75,4.48,12.85,13.6,17.32,5.84l17.23-33.13v34.74v8.14v56.97c0,8.95,7.33,16.28,16.28,16.28s16.28-7.33,16.28-16.28v-56.97
      h16.28v56.97c0,8.95,7.33,16.28,16.28,16.28s16.28-7.33,16.28-16.28v-56.97v-8.14v-33.97l11.87,20.56
      c4.48,7.75,14.48,10.43,22.24,5.96C460.47,183.68,463.15,173.67,458.68,165.92z"/>
    <circle class="st0" cx="377.92" cy="32.84" r="32.55"/>
  </g>
</svg>
</template>

<script>
export default {
  props: {
    load: String,
  },
};
</script>

<style lang="stylus" scoped>
.low
  .st0
    fill #4CAF50

.medium
  .st0
    fill #FF931E

.high
  .st0
    fill #C1272D
</style>
