<template lang="pug">
section.park-card(
  :class="load"
)
  .circle-1(
    :class="load"
  )
  .circle-2(
    :class="load"
  )

  header.park-header
    p.park-title {{ park.park_name.replace(' National Park', '') }}
    p.park-subtitle National Park

    //- .park-load(
    //-   :class=`{
    //-     low: park.load > 0 && park.load < 5,
    //-     medium: park.load > 4 && park.load < 8,
    //-     high: park.load > 7 && park.load < 11,
    //-   }`
    //- ) {{ park.load }}

    ParkLoadIcon.park-load(:load="load")

  figure.park-image-container
    img.park-image(:src="park.thumb")

  ul.park-tag-list
    li.park-tag-item(
      v-for="tag in park.tags.slice(0, 6)"
      :key="tag"
    )
      figure.park-tag-image-container
        img.park-tag-image(
          :src="tag"
        )
</template>

<script>
/* eslint-disable vue/return-in-computed-property */
import ParkLoadIcon from '@/components/ParkLoadIcon.vue';


export default {
  components: {
    ParkLoadIcon,
  },

  props: {
    park: Object,
  },

  computed: {
    load() {
      return {
        0: 'low',
        1: 'medium',
        2: 'high',
      }[this.park.load];
    },
  },
};
</script>

<style lang="stylus" scoped>
.park-card
  border 1px solid #dcdfe6
  border-radius .75rem
  cursor pointer
  overflow hidden
  position relative

  .circle-1
  .circle-2
    border-radius 50%
    position absolute

    &.low
      background-color alpha(#4caf50, .5)

    &.medium
      background-color alpha(#ff931e, .5)

    &.high
      background-color alpha(#c1272d, .5)

  .circle-1
    height 5rem
    left -.75rem
    top -.75rem
    width 5rem

  .circle-2
    height 3rem
    left .75rem
    top .5rem
    width 3rem

  .park-header
    align-items center
    display grid
    gap 0 .5rem
    grid-template-areas 'title load' 'subtitle load'
    grid-template-columns 1fr auto
    padding 1rem .75rem .75rem 2rem
    position relative

    .park-title
      color #333333
      font-size 1.3rem
      font-weight bold
      grid-area title
      line-height 1.2

    .park-subtitle
      color #404040
      font-size .8rem
      font-weight bold
      grid-area subtitle

    .park-load
      grid-area load
      height 2.4rem

  // .park-load
  // border 2px solid transparent
  // float right
  // font-weight 600
  // height 1.5rem
  // width 1.5rem

  // &.low
  // border-color #67c23a

  // &.medium
  // border-color #e6a23c

  // &.high
  // border-color #f56c6c
  .park-image-container
    background-color black
    padding-bottom (9 / 16) * 100%
    position relative

    .park-image
      bottom 0
      left 0
      position absolute
      right 0
      top 0

  .park-tag-list
    display flex
    justify-content space-evenly
    padding 1rem 0

    .park-tag-item
      .park-tag-image-container
        background-color #56baff
        border-radius 50%
        height 2.5rem
        overflow hidden
        padding .5rem
        width 2.5rem

        .park-tag-image
          display block
          filter hue-rotate(190deg) saturate(10)
</style>
