<template lang="pug">
#park-list
  //- section.park-all-section
    ul.park-list
      li.park-item(
        v-for="park in ParkList"
        @click="$emit('onParkClick', park.park_id)"
      )
        ParkCard(
          :park="park"
        )

  section.park-search-section(v-if="ParkSearchList.length")
    //- h3.park-section-title Your search
    ul.park-list
      li.park-item(
        v-for="park in ParkSearchList"
        @click="$emit('onParkClick', park.park_id)"
      )
        ParkCard(
          :park="park"
        )

  section.park-recommend-section(v-if="ParkRecommendList.length")
    h3.park-section-title
      span We recommend
    ul.park-list
      li.park-item(
        v-for="park in ParkRecommendList"
        :key="park.park_id"
        @click="$emit('onParkClick', park.park_id)"
      )
        ParkCard(
          :park="park"
        )
</template>

<script>
import { mapState } from 'vuex';

import ParkCard from '@/components/ParkCard.vue';


export default {
  components: {
    ParkCard,
  },

  computed: {
    ...mapState([
      'ParkList',
      'ParkSearchList',
      'ParkRecommendList',
    ]),
  },
};
</script>

<style lang="stylus" scoped>
#park-list
  padding-bottom 2rem

  .park-section-title
    font-size 1.5rem
    font-weight 600
    margin 2rem 0
    position relative
    text-align center

    &::before
      background-color alpha(#4caf50, .5)
      bottom -5px
      content ''
      left -10px
      position absolute
      right 40%
      top -10px
      transform rotateZ(4deg) skewX(4deg)
      z-index -1

  .park-item
    margin 0 1rem 1.5rem
</style>
