<template lang="pug">
#app
  //- RouterView
  header#header
    img.logotype(:src="logotype")
    Navigation(
      @onDateRangeChange="setDateRange"
    )

  aside#aside
    ParkList(
      @onParkClick="selectPark"
    )

  main#main
    Map(
      @onParkClick="selectPark"
    )

  ElDrawer.park-drawer(
    :visible.sync="parkDetails"
    direction="rtl"
    size="600px"
  )
    ParkDetails(
      v-if="parkDetails"
      :dateStart="dateStart"
      :dateEnd="dateEnd"
      :parkId="parkIdSelected"
    )
</template>

<script>
import { mapState } from 'vuex';

import Map from '@/components/Map.vue';
import ParkDetails from '@/components/ParkDetails.vue';
import ParkList from '@/components/ParkList.vue';
import Navigation from '@/components/Navigation.vue';

import logotype from '@/assets/images/logotype.png';


export default {
  components: {
    Map,
    ParkDetails,
    ParkList,
    Navigation,
  },

  data() {
    return {
      logotype,
      dateStart: new Date(),
      dateEnd: new Date(),
      parkIdSelected: 0,
    };
  },

  computed: {
    ...mapState([
      'ParkList',
    ]),

    parkDetails: {
      get() {
        return !!this.parkIdSelected;
      },
      set(value) {
        this.parkIdSelected = Number(value);
      },
    },
  },

  methods: {
    selectPark(parkId) {
      this.parkIdSelected = parkId;
    },
    setDateRange([dateStart, dateEnd]) {
      this.dateStart = dateStart;
      this.dateEnd = dateEnd;
    },
  },
};
</script>

<style lang="stylus">
#app
  display grid
  grid-template-areas 'header header' 'aside main'
  grid-template-columns minmax(350px, 1fr) 4fr
  grid-template-rows auto 1fr
  height 100vh

  .logotype
    height 4rem
    left 1rem
    position absolute
    top .25rem

  #header
    // border-bottom 1px solid #dcdfe6
    grid-area header

  #aside
    grid-area aside
    overflow-y auto

  #main
    grid-area main
</style>
